.container{
    height: calc(100vh - var(--footer-height));
    display: flex;
    border-top: .325rem var(--color-grey-med) solid;
}

.grid-wrapper{
    flex: 4;
    overflow-y: auto;
    height: 100%;
}

.control-wrapper{
    flex: 1;
    padding: 10px;
    text-align: center;
}

.list-grid{
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.item{
    animation: opacity 1s;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.control{
    margin: 20px 10px;
}

.header{
    padding: 8px;
    text-align: center;
    height: var(--header-height);
}

.footer{
    padding: 8px;
    text-align: center;
    height: var(--footer-height);
}

/* grid colors */

.color-1 {
    background: var(--color-blue-med);
}
.color-2 {
    background: var(--color-blue-dark);
}
.color-3 {
    background: var(--color-cyan-med);
}
.color-4 {
    background: var(--color-grey-med);
}
